.text-hidden{
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
.navbar-light .navbar-nav .nav-link{
  color: $black;
}
.btn-primary{
  color: white !important;
  border: 1px solid #000 !important;
}
.navbar-light .navbar-toggler{
  color: $black;
  border: none;
}
.font-noto{
  font-family: "Noto Sans TC", serif;
}